@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Amatic+SC&family=Lovers+Quarrel&family=Rochester&family=Shadows+Into+Light&display=swap');

body {
  background-color: #fef0c3;
  color: e85f5c
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
container {
  z-index: 1;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100%
}

div {
  align-content: space-between;
  text-align: center;
}
h1 {
  font-family: fantasy;
  color: #2b2d42;
  order: 1;
  text-align: center;
}

button {
	background-color: ##8d99ae;
	border-radius: 30px;
	border: 1px solid #2b2d42;
	color: #2b2d42;
	font-family: Arial;
	font-size: 20px;
  width: 150px;
  height: 50px;
	padding: 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px gray;
  box-shadow: 0px 1px 0px gray;
  order: 5;
}
button:hover {
	background-color: #8d99ae;
}
button:active {
	position: relative;
	top: 2px;
}
footer {
  order: 7;
  text-align: center;
}

#wallpaper {
  font-size: 40px;
  width: 100%;
  z-index: 50;
  background: #e85f5c;
  display: block;
  order: 3;
}
#visible {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  visibility: visible;
}
#hidden {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  visibility: hidden;
  display: inline-block;
}
#hidden-button {
  align-self: flex-end;
  display: inline;
  position: relative;
}
#save-button {
  align-self: flex-end;
  display: inline;
  position: relative;
}

#quote-div {
  visibility: hidden;
}
/* Smaller devices (mobile phones/tablets) */
@media screen only and (max-width: 991px) {
  #wallpaper{
    max-width: 991px;
    margin: auto;
    font-size: 50px;
    min-height: 700px;
  }
}
/* Larger devices (laptops/desktops, 992px and up) */
@media screen only and (min-width: 992px) {
  #wallpaper{
    margin: auto;
    font-size: 50px;
    min-height: 1760px;
  }
}